
html {
    background-color:#AAA;
}
body {
    max-width:65em;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding:1em;
}

li.tocsec {
        margin-top:1em
}
li.tocsec >span {
    font-weight:bold;
    font-size:150%
}

li.tocsubsec {
    margin-top:.5em;
}
li.tocsubsec >span{
    font-weight:bold;
    font-size:110%
}

span.footnote {
    max-width: 10em;
    padding:2px;
    float:right;
    border:solid black:thin;
    background-color:#DD8;
}

sup.fmk {
    vertical-align:top;
}